@import url(./__copyright/footer__copyright.css);

.footer {
    margin: 0 auto;
    max-width: 882px;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 930px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width:425px) {
    .footer {
        margin: 0 19px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}